@font-face {
  font-family: "Pretendard";
  font-weight: 400; /* Regular */
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Pretendard-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Pretendard-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 600; /* SemiBold */
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Pretendard-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pretendard";
  font-weight: 700; /* Bold */
  font-style: normal;
  font-display: swap;
  src: url("./fonts/Pretendard-Bold.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard";
  font-weight: 500; /* Regular */
}
